$primary-color: #9467FE;
$secondary-color: #362465;
$success-color: #11B011;
$info-color: #00aeff;
$warning-color: #FFBB69;
$danger-color: #EB5757;
$light-color: #F0EAFF;
$dark-color: #212529;
$body-color: #7E87BF;
$body-bg: #F0F5FF;

